<?xml version="1.0"?>
<launch>
    <arg name="mav_name" default="quad"/>
    <arg name="id_sender" default="6"/>
    <arg name="true_class" default="3"/>
    <arg name="num_repeat_max" default="5"/>

    <!-- Julia Nodes -->
    <group ns="$(arg mav_name)$(arg id_sender)">
        <!-- Read Codebook_sender and generate waypoints file -->
        <node pkg="mslquad" type="mbc_generate_sender_waypoints.jl" name="mbc_sender_waypoints_generator" output="screen">
            <param name="true_class" value="$(arg true_class)"/>
            <param name="num_repeat_max" value="$(arg num_repeat_max)"/>
        </node>
        <!-- Setup Codebook generation node -->
        <node pkg="mslquad" type="mbc_generate_code_from_sender_trajectory.jl" name="mbc_codebook_generator" output="screen">
            <param name="quad_ns_sender" value="$(arg mav_name)$(arg id_sender)"/>
            <param name="true_class" value="$(arg true_class)"/>
            <param name="num_repeat_max" value="$(arg num_repeat_max)"/>
            <param name="xz_plane_flag" value="true"/>
        </node>
    </group>

</launch>