<?xml version="1.0"?>
<launch>
    <arg name="quad_ns_sender" default="quad0"/>
    <arg name="quad_ns_receiver" default="quad1"/>
    <group ns="$(arg quad_ns_sender)">
        <node pkg="mslquad" type="clearance.py" name="clearance" output="screen">
        </node>
    </group>
    <group ns="$(arg quad_ns_receiver)">
        <node pkg="mslquad" type="clearance.py" name="clearance" output="screen">
        </node>
    </group>
</launch>
