<?xml version="1.0"?>
<launch>
    <!-- Simulation Startup -->
    <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
          args="2 mslquad quad_sim_motion_based_communication.launch"
          name="timed_roslaunch_quad_sim" output="screen" />
    <!-- Pose Controller Setup -->
    <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
          args="25 mslquad pose_controller.launch id:=0 takeoff_height:=1.7"
          name="timed_roslaunch_pose_controller_0" output="screen" />
    <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
          args="25 mslquad pose_controller.launch id:=1 takeoff_height:=1.2"
          name="timed_roslaunch_pose_controller_1" output="screen" />
    <!-- Sphere Tracker Setup -->
    <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
          args="30 mbc_sender_tracker mbc_sender_tracking_quad_sim.launch rob_name:=quad1"
          name="timed_roslaunch_mbc_sender_tracker" output="screen" />
    <!-- Takeoff -->
    <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
          args="40 mslquad sim_arm_offboard_motion_based_communication.launch"
          name="timed_roslaunch_takeoff" output="screen" />
    <!-- Set Initial Position for Receiver -->
    <!-- <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
          args ="45 mslquad waypoint_publisher.launch id:=1 file_path:=$(env HOME)/catkin_ws/src/msl_quad/mslquad/resource/waypoints_init_receiver.txt"
          name="timed_roslaunch_waypoints_receiver" output="screen" /> -->
    <!-- <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
          args="40 mslquad sim_arm_offboard.launch"
          name="timed_roslaunch_takeoff" output="screen" /> -->
    <!-- Waypoint Publisher
    <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
          args="40 mslquad waypoint_publisher.launch id:=0"
          name="timed_roslaunch_waypoints" output="screen" /> -->

</launch>